name: Docker Auto Push and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 使用你配置好的 Secrets 自动登录 (cx0512)
      - name: Login to Docker Hub
        shell: powershell
        run: |
          # 使用变量来中转 Token，防止特殊字符转义失败
          $token = "${{ secrets.DOCKER_PASSWORD }}"
          echo $token | docker login -u "cx0512" --password-stdin
      # 构建并推送
      - name: Build and Push
        shell: powershell
        run: |
          docker build -t cx0512/my-web-app:latest .
          docker push cx0512/my-web-app:latest

      # 本地重新部署
      - name: Local Deploy
        shell: powershell
        run: |
          docker stop my-web-site 2>$null
          docker rm my-web-site 2>$null
          docker run -d --name my-web-site -p 8080:80 cx0512/my-web-app:latest
